<div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Auth</h1>

        <p>Choose your Destiny:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Cadastro Local</a>

        <a href="/facebook/connect" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
</div>
