<!DOCTYPE html>
<html>
  <head>
    <title>Exemplo de autenticação com Node.JS, Passport e Express.JS</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' />
    <style>
        body: { padding-top : 80px; }
    </style>
  </head>
  <body>
        <div class="container">
                {{#if message }}
                     <div class="alert alert-danger">{{message}}</div>
                {{/if}}

                {{{body}}}
        </div>
  </body>
</html>  
